<!doctype html>
<html>
<head>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <title>
        shackspace Tag-Generator (funktioniert auch nachts!)
    </title>
</head>
<body>
<div class="hero-unit">
    <h1>Generate QR-Code <span class="text-error">BETA</span></h1>

    <p>Add your project or box and generate a fancy QR Code</p>
</div>
<div class="container">

    <form method="POST" action="/publish" class="form-horizontal">
        <div class="control-group">
            <label for="handle" class="control-label">Handle</label>

            <div class="controls">
                <input required type="text" id="handle" name="handle" placeholder="Name, Nick, etc.">
            </div>
        </div>
        <div class="control-group">
            <label for="email" class="control-label">E-Mail</label>

            <div class="controls">
                <input required type="text" id="email" name="email" placeholder="user@example.com">
            </div>
        </div>
        <div class="control-group">
            <label for="freetext" class="control-label">Freitext</label>

            <div class="controls">
                <textarea rows="3" cols="40" id="freetext" name="freetext"
                          placeholder="z.B.: Lieblingskontaktierungsmöglichkeit"></textarea>
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <input type="submit" class="btn btn-primary btn-large" id="submit-button" value="Generatorisieren">
            </div>
        </div>
    </form>

</div>
<script src="/static/js/jquery-1.9.1.min.js" type="text/javascript" charset="utf-8"></script>
<script src="/static/js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
<script src="/static/js/index.js" type="text/javascript" charset="utf-8"></script>
</body>
</html>
